input#amount {
    border:0; color:#008cff; 
    font-weight:bold; 
    width: 100px; 
    height: 2pc;
}

#back {
    margin-left: 20px;
    background-color: #ad39cd;
}

button {
margin-bottom: 20px;
}

/* radio styles based on 
    article: https://moderncss.dev/pure-css-custom-styled-radio-buttons/ */

:root {
--form-control-color: #008cff;
}


.form-control {
font-family: system-ui, sans-serif;
font-size: 2rem;
font-weight: bold;
line-height: 1.1;
display: grid;
grid-template-columns: 1em auto;
gap: 0.5em;
}

.form-control + .form-control {
margin-top: 0.5em;
}

.form-control:focus-within {
color: var(--form-control-color);
}

input[type="radio"] {
/* Add if not using autoprefixer */
-webkit-appearance: none;
/* Remove most all native input styles */
appearance: none;
/* For iOS < 15 */
background-color: var(--form-background);
/* Not removed via appearance */
margin: 0;

font: inherit;
color: currentColor;
width: 1.15em;
height: 1.15em;
border: 0.15em solid currentColor;
border-radius: 5px;
transform: translateY(-0.075em);

display: grid;
place-content: center;
}

input[type="radio"]::before {
content: "";
width: 0.65em;
height: 0.65em;
/* border-radius: 50%; */
border-radius: 5px;
transform: scale(0);
transition: 220ms transform ease-in-out;
box-shadow: inset 1em 1em var(--form-control-color);
/* Windows High Contrast Mode */
background-color: CanvasText;
}


input[type="radio"]:checked::before {
transform: scale(0.75);
}

/* input[type="radio"]:focus {
outline: max(2px, 0.15em) solid currentColor;
outline-offset: max(2px, 0.15em);
} */